body {
    background-color: rgb(33 37 41);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    

}

/* Navbar */

.navbar {
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}


.navbar.shrink {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid #FFD401;
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño normal del logo */
    transition: all 0.3s ease;
}

.navbar.shrink .navbar-brand {
    font-size: 1rem; /* Tamaño reducido del logo */
}

/* Navbar Dinámico */
.navbar.scrolled {
    padding: 0.5rem 1rem !important;
    transition: all 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
}

.navbar.scrolled .navbar-brand {
    font-size: 1.2rem;
}



/* Sección Dinámica de Tipografía */
#intro-tipografia {
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Evitar que el contenido se salga del contenedor */
    position: relative; /* Posicionar para el fondo */
}

/* seccion de boton flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    /* Asegura que esté por encima de todo */
    display: flex;
    flex-direction: column;
        /* Organiza los hijos en columna */
    align-items: center;
        /* Centra los elementos horizontalmente */
    text-align: center;
        /* Centra el texto debajo de la imagen */

}


.floating-button img {
    width: 50px;
    /* Ajusta el tamaño según necesites */
    height: 50px;
    /* Ajusta el tamaño según necesites */
    border: none;
    cursor: pointer;
}

.floating-button img:hover {
    opacity: 0.8;
    /* Efecto hover */
}

.floating-button span {
    margin-top: 5px;
    /* Espacio entre la imagen y el texto */
    font-size: 14px;
    /* Ajusta el tamaño de la fuente según necesites */
    color: #FFD401;
    /* Color del texto, puedes cambiarlo según el diseño */
    text-decoration: underline;
            /* Asegura que haya subrayado */
    text-decoration-color: #FFD401;
            /* Cambia el color del subrayado */

}

/* Estilos del H1 */
#dynamic-letter {
    font-size: 90px; /* Ajuste para tamaño móvil */
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #FFD401;
    display: inline-block;
    position: relative;
    z-index: 2; /* Asegura que el texto esté sobre la imagen */
    transition: font-size 0.3s ease-in-out;
}

#dynamic-letter span {
    opacity: 0;
    transform: translateY(50px) scale(0.8); /* Movimiento inicial */
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

#dynamic-letter span.visible {
    opacity: 1;
    transform: translateY(0) scale(1); /* Movimiento final */
}

/* Fondo dinámico */
#background-dynamic {
    position: absolute;
    top: 60px; /* Ajusta la posición para que no quede tapado por el menú */
    left: 0;
    width: 100%;
    height: calc(100% - 50px); /* Reduce la altura total para acomodar el desplazamiento */
    background-image: url('../IMG/background2.png'); /* Ruta de tu imagen */
    background-blend-mode: multiply;
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.1s ease-out, opacity 0.3s ease; /* Suavidad en el movimiento y cambio de opacidad */
    z-index: 1; /* Debajo del texto */
    opacity: 0.5; /* Reduce la intensidad de la imagen */
    filter: brightness(80%); /* Reduce el brillo para que se camufle mejor */
}




#glyph-section {
    font-family: 'Bricolage Grotesque', sans-serif;
}

.glyph-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 15px;
    width: 100%;
    text-align: center;
}

.glyph-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #47277A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

.glyph-item:hover {
    background-color: #FFD401;
    color: #1a1a1a;
    transform: scale(1.1);
}

.large-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 200px;
    border-top: 1px solid #FFD401;
    font-size: 100px;
    font-weight: bold;
    cursor: text;
}

.large-view input {
    background: none;
    border: none;
    color: #FFD401;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    width: 100%;
    outline: none;
}


.font-weight-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.font-weight-buttons a {
    color: #FFD401;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.font-weight-buttons a:hover {
    color: #000;
    background-color: #FFD401;
    border-color: #FFD401;
}



@font-face {
    font-family: 'Basteleur-Moonlight';
    src: url('../FONTS/Basteleur-Moonlight.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outward-round';
    src: url('../FONTS/outward-round-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pilowlava-Regula';
    src: url('../FONTS/Pilowlava-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pilowlava-Regular';
    src: url('../FONTS/Gulax-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.hover-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 20px auto;
    border: 3px solid transparent;
    background-color: rgb(33, 37, 41);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.hover-area:hover {
    border-color: #FFD401;
    box-shadow: 0 0 15px rgba(255, 212, 1, 0.5);
}

.hover-area .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3rem; /* Tamaño uniforme para todas las secciones */
    transition: transform 0.3s ease;
}

.hover-area .content span {
    font-size: 3rem; /* Tamaño fijo para evitar inconsistencias */
}

.hover-area:hover .content {
    transform: translateY(-10px);
}

.hover-area .hover-child {
    color: #FFD401;
    opacity: 0;
    font-size: 1.5rem; /* Tamaño del subtítulo */
    transition: opacity 0.3s ease;
}

.hover-area:hover .hover-child {
    opacity: 1;
}

.hover-area .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 212, 1, 0.1);
    z-index: -1;
    transition: opacity 0.3s ease;
}

.hover-area:hover .background {
    opacity: 0.5;
}

/* Estilo Tipográfico */
.bg-basteleur-bold {
    font-family: 'Basteleur-Bold', sans-serif;
}

.bg-outward-round {
    font-family: 'Outward-Round', sans-serif;
}

.bg-pilowlava-regular {
    font-family: 'Pilowlava-Regular', cursive;
}

.bg-basteleur-moonlight {
    font-family: 'Basteleur-Moonlight', sans-serif;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #212529 !important;
}

/* SECCION SLIDERS */

#variable {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
  }

  .variable-text {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .variable-text span {
    font-size: 100px;
    font-variation-settings: 'wght' 400;
    transition: all 0.2s ease;
    color: #FFD401;;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px;
    background: #FFD401;;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #FFD401;;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #ffe0d4;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #FFD401;;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: #ffe0d4;
  }

  .slider-label {
    margin-top: 10px;
    font-size: 16px;
  }

  .btn-group {
    margin-top: 20px;
  }

  .btn{
    color: #FFD401;;
    height: 60px;
    border: 1px solid #FFD401;;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }

  .btn:hover{ 
        color: #000;
        background-color: #FFD401;;
        border-color: #FFD401;;
    }

    /* SECCION EFECTO LETRAS Aa */

    #letter-a-effect{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .text-container,
    .text-container-2 {
        position: relative;
        width: 400px;
        height: 400px;
    }
    
    /* General styles for lines */
    .line {
        position: absolute;
        width: 4px;
        background-color:#FFD401;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }
    
    .container {
        color: white;
    }


    /* Define specific positions for each line */
    .line:nth-child(1)  { left: 4%;  height: 15%; bottom: 0%; }
    .line:nth-child(2)  { left: 6%; height: 20%; bottom: 0%; }
    .line:nth-child(3)  { left: 8%; height: 25%; bottom: 0%; }
    .line:nth-child(4)  { left: 10%; height: 30%; bottom: 0%; }
    .line:nth-child(5)  { left: 12%; height: 35%; bottom: 0%; }
    .line:nth-child(6)  { left: 14%; height: 35%; bottom: 5%; }
    .line:nth-child(7)  { left: 16%; height: 35%; bottom: 10%; }
    .line:nth-child(8)  { left: 18%; height: 35%; bottom: 15%; }
    .line:nth-child(9)  { left: 20%; height: 35%; bottom: 20%; }
    .line:nth-child(10) { left: 22%; height: 35%; bottom: 25%; }
    .line:nth-child(11) { left: 24%; height: 35%; bottom: 30%; }
    
    .line:nth-child(12) { left: 26%; height: 10%; bottom: 20%; }
    .line:nth-child(13) { left: 28%; height: 10%; bottom: 20%; }
    .line:nth-child(14) { left: 30%; height: 10%; bottom: 20%; }
    .line:nth-child(15) { left: 32%; height: 10%; bottom: 20%; }
    .line:nth-child(16) { left: 34%; height: 10%; bottom: 20%; }
    .line:nth-child(17) { left: 36%; height: 10%; bottom: 20%; }
    .line:nth-child(18) { left: 38%; height: 10%; bottom: 20%; }
    .line:nth-child(19) { left: 40%; height: 10%; bottom: 20%; }
    
    
    .line:nth-child(20) { left: 26%; height: 35%; bottom: 35%; }
    .line:nth-child(21) { left: 28%; height: 35%; bottom: 40%; }
    .line:nth-child(22) { left: 30%; height: 35%; bottom: 45%; }
    .line:nth-child(23) { left: 32%; height: 35%; bottom: 50%; }
    .line:nth-child(24) { left: 34%; height: 35%; bottom: 55%; }
    .line:nth-child(25) { left: 36%; height: 30%; bottom: 60%; }
    .line:nth-child(26) { left: 38%; height: 25%; bottom: 65%; }
    .line:nth-child(27) { left: 40%; height: 20%; bottom: 70%; }
    
    
    .line:nth-child(28) { left: 42%; height: 10%; bottom: 20%; }
    .line:nth-child(29) { left: 44%; height: 10%; bottom: 20%; }
    .line:nth-child(30) { left: 46%; height: 10%; bottom: 20%; }
    .line:nth-child(31) { left: 48%; height: 10%; bottom: 20%; }
    .line:nth-child(32) { left: 50%; height: 10%; bottom: 20%; }
    .line:nth-child(33) { left: 52%; height: 10%; bottom: 20%; }
    .line:nth-child(34) { left: 54%; height: 10%; bottom: 20%; }
    .line:nth-child(35) { left: 56%; height: 10%; bottom: 20%; }
    
    .line:nth-child(36) { left: 42%; height: 20%; bottom: 70%; }
    .line:nth-child(37) { left: 44%; height: 25%; bottom: 65%; }
    .line:nth-child(38) { left: 46%; height: 30%; bottom: 60%; }
    .line:nth-child(39) { left: 48%; height: 35%; bottom: 55%; }
    .line:nth-child(40) { left: 50%; height: 35%; bottom: 50%; }
    .line:nth-child(41) { left: 52%; height: 35%; bottom: 45%; }
    .line:nth-child(42) { left: 54%; height: 35%; bottom: 40%; }
    .line:nth-child(43) { left: 56%; height: 35%; bottom: 35%; }
    
    
    
    .line:nth-child(44) { left: 58%; height: 35%; bottom: 30%; }
    .line:nth-child(45) { left: 60%; height: 35%; bottom: 25%; }
    .line:nth-child(46)  { left: 62%; height: 35%; bottom: 20%; }
    .line:nth-child(47)  { left: 64%; height: 35%; bottom: 15%; }
    .line:nth-child(48)  { left: 66%; height: 35%; bottom: 10%; }
    .line:nth-child(49)  { left: 68%; height: 35%; bottom: 5%; }
    .line:nth-child(50)  { left: 70%; height: 35%; bottom: 0%; }
    .line:nth-child(51)  { left: 72%; height: 30%; bottom: 0%; }
    .line:nth-child(52)  { left: 74%; height: 25%; bottom: 0%; }
    .line:nth-child(53)  { left: 76%; height: 20%; bottom: 0%; }
    .line:nth-child(54)  { left: 78%;  height: 15%; bottom: 0%; }
    
    
    
    
    
    .text-container-2 .line:nth-child(1)  { left: 24%;  height: 15%; bottom: 20%; }
    .text-container-2 .line:nth-child(2)  { left: 26%; height: 25%; bottom: 15%; }
    .text-container-2 .line:nth-child(3)  { left: 28%; height: 35%; bottom: 10%; }
    .text-container-2 .line:nth-child(4)  { left: 30%; height: 45%; bottom: 5%; }
    .text-container-2 .line:nth-child(5)  { left: 32%; height: 55%; bottom: 0%; }
    .text-container-2 .line:nth-child(6)  { left: 34%; height: 25%; bottom: 0%; }
    .text-container-2 .line:nth-child(7)  { left: 34%; height: 20%; bottom: 35%; }
    .text-container-2 .line:nth-child(8)  { left: 36%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(9)  { left: 36%; height: 20%; bottom: 40%; }
    .text-container-2 .line:nth-child(10) { left: 38%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(11) { left: 38%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(12) { left: 40%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(13) { left: 40%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(14) { left: 42%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(15) { left: 42%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(16) { left: 44%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(17) { left: 44%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(18) { left: 46%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(19) { left: 46%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(20) { left: 48%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(21) { left: 48%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(22) { left: 50%; height: 15%; bottom: 5%; }
    .text-container-2 .line:nth-child(23) { left: 50%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(24) { left: 52%; height: 15%; bottom: 10%; }
    .text-container-2 .line:nth-child(25) { left: 52%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(26) { left: 54%; height: 15%; bottom: 10%; }
    .text-container-2 .line:nth-child(27) { left: 54%; height: 15%; bottom: 45%; }
    .text-container-2 .line:nth-child(28) { left: 56%; height: 15%; bottom: 15%; }
    .text-container-2 .line:nth-child(29) { left: 56%; height: 10%; bottom: 40%; }
    .text-container-2 .line:nth-child(30) { left: 58%; height: 15%; bottom: 20%; }
    .text-container-2 .line:nth-child(31) { left: 58%; height: 10%; bottom: 35%; }
    .text-container-2 .line:nth-child(32) { left: 60%; height: 75%; bottom: 15%; }
    .text-container-2 .line:nth-child(33) { left: 62%; height: 75%; bottom: 10%; }
    .text-container-2 .line:nth-child(34) { left: 64%; height: 75%; bottom: 5%; }
    .text-container-2 .line:nth-child(35) { left: 66%; height: 75%; bottom: 0%; }
    .text-container-2 .line:nth-child(36) { left: 68%; height: 70%; bottom: 0%; }
    .text-container-2 .line:nth-child(37) { left: 70%; height: 65%; bottom: 0%; }
    .text-container-2 .line:nth-child(38) { left: 72%; height: 25%; bottom: 0%; }
    .text-container-2 .line:nth-child(39) { left: 74%; height: 20%; bottom: 0%; }
    .text-container-2 .line:nth-child(40) { left: 76%; height: 15%; bottom: 0%; }
    .text-container-2 .line:nth-child(41) { left: 78%; height: 10%; bottom: 0%; }
    .text-container-2 .line:nth-child(42) { left: 80%; height: 5%; bottom: 0%; }
    
    .text-container-2 .line:nth-child(43) { left: 58%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(44) { left: 56%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(45) { left: 54%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(46) { left: 52%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(47) { left: 50%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(48) { left: 48%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(49) { left: 46%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(50) { left: 44%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(51) { left: 42%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(52) { left: 40%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(53) { left: 38%; height: 15%; bottom: 75%; }
    .text-container-2 .line:nth-child(54) { left: 36%; height: 15%; bottom: 70%; }
    .text-container-2 .line:nth-child(55) { left: 34%; height: 15%; bottom: 70%; }
    .text-container-2 .line:nth-child(56) { left: 32%; height: 15%; bottom: 65%; }
    .text-container-2 .line:nth-child(57) { left: 30%; height: 20%; bottom: 60%; }
    .text-container-2 .line:nth-child(58) { left: 28%; height: 15%; bottom: 60%; }
    












@media (max-width: 576px) {
    #dynamic-letter {
        font-size: 60px;
        transform: rotate(-90deg);
        transform-origin: right top;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    #dynamic-letter {
        font-size: 60px; /* Reducir tamaño en pantallas pequeñas */
    }
    .font-weight-buttons a {
        font-size: 14px;
        padding: 3px 10px;
    }
}

@media (min-width: 992px) {
    #dynamic-letter {
        font-size: 120px;
    }
    .font-weight-buttons {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}




